# <font color='gold'>**_An√°lise Explorat√≥ria Descritiva: Metacritc Score - Video Games_**</font> üéÆ


<kbd><img src="images\gamer_stock.jpg" width=1000 height=350></kbd>
---

# <font color='gold'>**_Objetivos_**</font>

---

Nesse projeto, iremos realizar uma an√°lise explorat√≥ria descritiva de dados em um [Dataset](https://www.kaggle.com/datasets/patkle/metacritic-scores-for-games-movies-tv-and-music) que cont√©m avalia√ß√µes fornecidas pelo [Metacritic](https://www.metacritic.com/game) sobre diversos t√≠tulos de Video-Game. Como um sum√°rio do que ser√° realizado nesse projeto, temos:

<font color='gold'>**_1._**</font> **Compreender os Dados**:
- Aqui ser√° realizada uma an√°lise estat√≠stica-descritiva dos dados, buscando compreender seu formato e suas caracter√≠sticas centrais.

- Tamb√©m iremos utilizar de Histogramas e Boxplots/Violinplots para visualizarmos a distribui√ß√£o dos dados, outliers e etc.

<font color='gold'>**_2._**</font> **Limpeza, Corre√ß√£o e Tratamento**:
- Realizaremos a limpeza e tratamento desses dados. Com as informa√ß√µes adiquiridas na etapa anterior, iremos buscar adaptar e refatorar o Dataset para o melhor formato poss√≠vel.

- Utilizaremos fun√ß√µes como principal maneira de limpeza e tratamento.

<font color='gold'>**_3._**</font> **An√°lise Explorat√≥ria e Visualiza√ß√µes**:
- Ap√≥s a compreens√£o e tratamento desses dados, iremos realizar uma an√°lise explorat√≥ria, buscando gerar insights e a retirada de informa√ß√µes relevantes e curiosas dos dados.

- Para isso, utilizaremos de diversas visualiza√ß√µes utilizando Matplotlib e Seaborn.

# <font color='gold'>**_Importando Pacotes e Compreendendo Dados_**</font>

---

In [11]:
# Importando bibliotecas necess√°rias para an√°lise:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from platform import python_version

# Setando estilo escuto do grid para gr√°ficos Seaborn:
sns.set_theme(context='notebook', style='darkgrid')

# Filtrando avisos de erro:
warnings.filterwarnings('ignore')

# Mostrando vers√µes utilizadas:
print(' Pacotes Prontos! Vers√µes Utilizadas: '.center(70, '-'))
print(f'Python:     --> {python_version()}')
print(f'Pandas:     --> {pd.__version__}')
print(f'Numpy:      --> {np.__version__}')
print(f'Matplotlib: --> {matplotlib.__version__}')
print(f'Seaborn:    --> {sns.__version__}')

---------------- Pacotes Prontos! Vers√µes Utilizadas: ----------------
Python:     --> 3.9.16
Pandas:     --> 1.5.2
Numpy:      --> 1.23.5
Matplotlib: --> 3.6.2
Seaborn:    --> 0.11.2

In [13]:
# Criando o Dataframe:
data_raw = pd.read_csv('data/games.csv', sep=',')

In [14]:
# Visualizando primeiros registros:
data_raw.head(10)

,id,metascore,platform,release_date,sort_no,summary,title,user_score
0,543718,91,PC,"August 18, 2020",301,"From light planes to wide-body jets, fly highl...",Microsoft Flight Simulator,7.1
1,555108,91,PC,"December 8, 2022",302,"Take up your sword, channel your magic or boar...",Chained Echoes,8.7
2,106820,91,PlayStation 2,"November 7, 2005",303,"Strap on your Guitar Hero SG controller, plug-...",Guitar Hero,8.5
3,110775,91,PC,"November 13, 2008",304,"Players last visited Northrend in ""Warcraft II...",World of Warcraft: Wrath of the Lich King,7.7
4,142864,91,Wii,"October 26, 2010",305,Rock Band returns with the third iteration of ...,Rock Band 3,6.8
5,114951,91,Wii,"August 24, 2009",306,Metroid Prime 3: Corruption set a new standard...,Metroid Prime Trilogy,9
6,397035,91,PC,"May 23, 2016",307,Overwatch is a highly stylized team-based shoo...,Overwatch,6.4
7,102812,91,PC,"June 24, 2003",308,Cutting-edge technology brings you the most ac...,F1 Challenge '99-'02,7.7
8,161540,91,GameCube,"October 23, 2002",309,Drop into the ultimate challenge. In the next...,Tony Hawk's Pro Skater 4,8.2
9,100705,91,PlayStation 2,"October 23, 2000",310,EA Sports steps up to the challenge of Sega's ...,Madden NFL 2001,7.5

In [15]:
# Visualizando um sample aleat√≥rio dos dados:
data_raw.sample(10)

,id,metascore,platform,release_date,sort_no,summary,title,user_score
10690,500609,72,3DS,"October 6, 2017",10691,A new adventure in the Layton series ‚Äìwith a f...,Layton's Mystery Journey: Katrielle and The Mi...,6.5
17791,102204,55,PC,"August 13, 2002",17792,On a routine hunt on Planet LV1201 a lone Pred...,Aliens Versus Predator 2: Primal Hunt Expansio...,7.3
792,101304,88,PC,"August 27, 2002",793,Mafia brings the 1930's underworld to life in ...,Mafia,9.1
4893,346665,80,PC,"November 7, 2014",4894,Football Manager 2015 allows you to live the l...,Football Manager 2015,6.2
13434,564964,67,PC,"December 16, 2021",13435,The Gunk is a game about two friends who run a...,The Gunk,4.8
58,100009,91,PC,"October 9, 1997",359,"In Dark Forces, Kyle Katarn, a young mercenary...",Star Wars Jedi Knight: Dark Forces II,8.6
3821,459728,81,3DS,"April 16, 2015",3822,3D Fantasy Zone II W is the side-scrolling sho...,3D Fantasy Zone II W,7
7950,521309,75,PlayStation 4,"September 24, 2019",7951,"[OVERCOME]\nOn the way to Jericho City, your p...",The Surge 2,7.1
7512,214036,76,Xbox 360,"July 11, 2012",7513,In Zuma the player takes the role of a fearles...,Zuma's Revenge!,7.1
12674,497970,68,PlayStation Vita,"October 18, 2016",12675,An RPG in which Kanata and others have been im...,Exist Archive: The Other Side of the Sky,8.1

Com a visualiza√ß√£o geral dos dados podemos nos aprofundar mais em suas caracter√≠sticas:

In [19]:
# Checando dimens√µes dos dados:
data_raw.shape

(20022, 8)

Temos um dataset relativamente grande, contendo <font color='gold'>**_20.022_ registros**</font> em <font color='gold'>**_8 vari√°veis_**</font> diferentes.

Vamos checar informa√ß√µes mais espec√≠ficas acerca dessas vari√°veis:

In [20]:
# Vis√£o mais detalhada das vari√°veis:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20022 entries, 0 to 20021
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20022 non-null  int64
 1   metascore     20022 non-null  int64
 2   platform      20022 non-null  object
 3   release_date  20022 non-null  object
 4   sort_no       20022 non-null  int64
 5   summary       19930 non-null  object
 6   title         20022 non-null  object
 7   user_score    20022 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.2+ MB

Informa√ß√µes relevantes:

- Temos alguns valores faltantes apenas na coluna **`summary`**, o que indica que o Dataset est√° bem completo. Tamb√©m, esse fator n√£o √© um problema por a coluna **`summary`** n√£o ser√° utilizada nas an√°lises.

- Sobre os Data types utilizados: 

    - iremos avaliar mudan√ßas poss√≠veis, como int32 em vez de int64 nas colunas que possuem esse data type. 

    - A coluna **`release_date`** ser√° trasnformada em uma coluna do tipo date em vez de object.

    - A coluna **`user_score`** est√° no formato object quando deveria estar em float, por se tratar da vari√°vel que cont√©m as avalia√ß√µes fornecidas pelos usu√°rios.
    
Com essas mudan√ßas, a mem√≥ria consumida ser√° reduzida. Nesse dataset n√£o far√° uma diferen√ßa not√°vel na performance, por√©m √© uma boa pr√°tica sempre deixar os dados no formato mais eficiente poss√≠vel.

## **An√°lise Estat√≠stica - Descritiva dos Dados**

Conseguimos coletar informa√ß√µes relevantes sobre os dados na etapa anterior, por√©m para podermos ter uma vis√£o realmente aprofundada desses dados, vamos realizar uma an√°lise estat√≠stica para descrever esse conjunto.

- Resumo Estat√≠stico das Vari√°veis Num√©ricas:

In [23]:
# Utilizando m√©todo describe nas colunas num√©ricas:
data_raw.describe()

                  id     metascore       sort_no
count   20022.000000  20022.000000  20022.000000
mean   296058.651084     70.758566  10011.500000
std    190522.456059     12.165042   5779.997881
min    100002.000000     11.000000      1.000000
25%    112180.250000     64.000000   5006.250000
50%    188870.500000     72.000000  10011.500000
75%    510982.250000     80.000000  15016.750000
max    626054.000000     99.000000  20022.000000

Nesse dataset temos tr√™s vari√°veis num√©ricas, por√©m apenas **`metascore`** nos importa para essa an√°lise, pois as outras duas vari√°veis s√£o **`id`** e **`sort_no`** n√£o cont√©m informa√ß√µes relevantes por se tratarem de vari√°veis de organiza√ß√£o dos dados (id, clasifica√ß√£o, etc).

Sobre a coluna **`metascore`**:

- A m√©dia geral da avalia√ß√£o do Metacritic para os jogos (lembrando que essa avalia√ß√£o vai de 0 a 100) √© de <font color='gold'>**70.8**</font>, uma m√©dia bem alta considerando o limite de 100.

- O desvio padr√£o dessas avalia√ß√µes √© de  <font color='gold'>**12.2**</font> pontos acima ou abaixo da m√©dia.

- A avalia√ß√£o mais baixa presente nos dados √© de  <font color='gold'>**11**</font>, realmente um valor bem baixo.

- J√° a avalia√ß√£o mais alta √© de  <font color='gold'>**99**</font>, aparentemente nenhum game recebeu a nota m√°xima de 100.

Sobre os quartis e percentis:

- 25% das avalia√ß√µes do Metacritic est√£o abaixo ou s√£o iguais a  <font color='gold'>**64**</font>;

- 50% das avalia√ß√µes do Metacritic est√£o abaixo ou s√£o iguais a  <font color='gold'>**72**</font>, esse valor representa a mediana das avalia√ß√µes, ou seja, o valor central dos dados ordenados √© 72;

- 75% das avalia√ß√µes do metacritic est√£o abaixo ou s√£o iguais a  <font color='gold'>**80**</font>;

- resumo Estat√≠stico das Vari√°veis Categ√≥ricas:

In [27]:
# Utilizando m√©todo describe nas colunas categ√≥ricas:
data_raw.describe(exclude='number')

,platform,release_date,summary,title,user_score
count,20022,20022,19930,20022,20022
unique,22,4794,15545,12926,94
top,PC,"November 14, 2006","Iron Man, an explosive third-person action sho...",Madden NFL 07,tbd
freq,5276,48,7,9,1382

Das vari√°veis categ√≥ricas, **`release_date`** e **`user_score`** n√£o s√£o apropriadas para essa an√°lise, pois deveriam estar em formato date e float respectivamente. Sendo assim, vamos olhar para as vari√°veis realmente categ√≥ricas nos dados:

**`platform`**

- Temos <font color='gold'>**22 plataformas diferentes**</font> nos dados. Isso indica uma variedade grande nas tecnologias utilziadas para games como consoles ao longo do tempo.

- A plataforma em que mais jogos est√£o presentes √© o  <font color='gold'>**PC**</font>, contando com  <font color='gold'>**5.276 registros**</font> nos dados.

**`title`**

- Temos <font color='gold'>**12.926 t√≠tulos √∫nicos nos dados**</font>. Isso indica que dos 20.022 t√≠tulos totais, 7.096 deles podem ser o mesmo jogo por√©m em um registro diferente para cada plataforma em que esse jogo foi lan√ßado. Isso ser√° explorado mais a frente.

Como dito previamente, a coluna `summary` n√£o ser√° utilizada, ent√£o sua descri√ß√£o estat√≠stica n√£o nos importa.