# <font color='gold'>**_An√°lise Explorat√≥ria Descritiva: Metacritc Score - Video Games_**</font> üéÆ


<kbd><img src="https://raw.githubusercontent.com/JoSEPHDev2022/Metacritc_Scores_Video_Games/main/images/gamer_stock.jpg" width=1000 height=350></kbd>
---

# <font color='gold'>**_Objetivos_**</font>

---

Nesse projeto, iremos realizar uma an√°lise explorat√≥ria descritiva de dados em um [Dataset](https://www.kaggle.com/datasets/patkle/metacritic-scores-for-games-movies-tv-and-music) que cont√©m avalia√ß√µes fornecidas pelo [Metacritic](https://www.metacritic.com/game) sobre diversos t√≠tulos de Video-Game. Como um sum√°rio do que ser√° realizado nesse projeto, temos:

<font color='gold'>**_1._**</font> **Compreender os Dados**:
- Aqui ser√° realizada uma an√°lise estat√≠stica-descritiva dos dados crus, buscando compreender seu formato e suas caracter√≠sticas centrais originais.

<font color='gold'>**_2._**</font> **Limpeza, Corre√ß√£o e Tratamento**:
- Realizaremos a limpeza e tratamento desses dados. Com as informa√ß√µes adiquiridas na etapa anterior, iremos buscar adaptar e refatorar o Dataset para o melhor formato poss√≠vel.

- Utilizaremos fun√ß√µes como principal maneira de limpeza e tratamento.

- Tamb√©m iremos utilizar de Histogramas e Boxplots/Violinplots para visualizarmos a distribui√ß√£o dos dados, outliers e etc.

<font color='gold'>**_3._**</font> **An√°lise Explorat√≥ria e Visualiza√ß√µes**:
- Ap√≥s a compreens√£o e tratamento desses dados, iremos realizar uma an√°lise explorat√≥ria, buscando gerar insights e a retirada de informa√ß√µes relevantes e curiosas dos dados.

- Para isso, utilizaremos de diversas visualiza√ß√µes utilizando Matplotlib e Seaborn.

# <font color='gold'>**_Importando Pacotes e Compreendendo Dados_**</font>

---

In [146]:
# Importando bibliotecas necess√°rias para an√°lise:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from platform import python_version

# Setando estilo escuto do grid para gr√°ficos Seaborn:
sns.set_theme(context='notebook', style='darkgrid')

# Filtrando avisos de erro:
warnings.filterwarnings('ignore')

# Mostrando vers√µes utilizadas:
print(' Pacotes Prontos! Vers√µes Utilizadas: '.center(70, '-'))
print(f'Python:     --> {python_version()}')
print(f'Pandas:     --> {pd.__version__}')
print(f'Numpy:      --> {np.__version__}')
print(f'Matplotlib: --> {matplotlib.__version__}')
print(f'Seaborn:    --> {sns.__version__}')

---------------- Pacotes Prontos! Vers√µes Utilizadas: ----------------
Python:     --> 3.9.16
Pandas:     --> 1.5.2
Numpy:      --> 1.23.5
Matplotlib: --> 3.6.2
Seaborn:    --> 0.11.2

In [147]:
# Criando o Dataframe:
data_raw = pd.read_csv('data/games.csv', sep=',')

In [148]:
# Visualizando primeiros registros:
data_raw.head(10)

,id,metascore,platform,release_date,sort_no,summary,title,user_score
0,543718,91,PC,"August 18, 2020",301,"From light planes to wide-body jets, fly highl...",Microsoft Flight Simulator,7.1
1,555108,91,PC,"December 8, 2022",302,"Take up your sword, channel your magic or boar...",Chained Echoes,8.7
2,106820,91,PlayStation 2,"November 7, 2005",303,"Strap on your Guitar Hero SG controller, plug-...",Guitar Hero,8.5
3,110775,91,PC,"November 13, 2008",304,"Players last visited Northrend in ""Warcraft II...",World of Warcraft: Wrath of the Lich King,7.7
4,142864,91,Wii,"October 26, 2010",305,Rock Band returns with the third iteration of ...,Rock Band 3,6.8
5,114951,91,Wii,"August 24, 2009",306,Metroid Prime 3: Corruption set a new standard...,Metroid Prime Trilogy,9
6,397035,91,PC,"May 23, 2016",307,Overwatch is a highly stylized team-based shoo...,Overwatch,6.4
7,102812,91,PC,"June 24, 2003",308,Cutting-edge technology brings you the most ac...,F1 Challenge '99-'02,7.7
8,161540,91,GameCube,"October 23, 2002",309,Drop into the ultimate challenge. In the next...,Tony Hawk's Pro Skater 4,8.2
9,100705,91,PlayStation 2,"October 23, 2000",310,EA Sports steps up to the challenge of Sega's ...,Madden NFL 2001,7.5

In [149]:
# Visualizando um sample aleat√≥rio dos dados:
data_raw.sample(10)

,id,metascore,platform,release_date,sort_no,summary,title,user_score
10954,145639,71,PlayStation 3,"June 18, 2010",10955,SBK 09 is the official game of the Superbike W...,SBK-09 Superbike World Championship,7.4
383,104102,92,PC,"March 28, 2005",233,The year is 2008. Information Warfare has evol...,Tom Clancy's Splinter Cell: Chaos Theory,8.7
12638,212901,69,PC,"June 1, 2012",12639,Home is a unique horror adventure set in a bea...,Home (2012),5.9
5270,558690,79,PlayStation 4,"May 5, 2020",5271,Saints & Sinners is a game unlike any other in...,The Walking Dead: Saints & Sinners,8.2
13563,587231,67,PlayStation 5,"September 22, 2022",13564,"Inspired by the golden era of skateboarding, S...",Session: Skate Sim,4
18189,115453,53,Wii,"October 27, 2009",18190,"With a playful new art style, SimAnimals Afric...",SimAnimals Africa,6.3
13727,161919,67,Xbox,"September 14, 2003",13728,Freestyle Metal X unleashes anarchy with the f...,Freestyle MetalX,6.7
7118,182082,77,PlayStation 3,"October 16, 2011",7119,"The small purple dragon returns, bringing with...",Skylanders: Spyro's Adventure,5.2
2067,568443,84,Xbox Series X,"November 10, 2020",2068,Devil May Cry is back. The legendary stylish a...,Devil May Cry 5: Special Edition,7.7
18372,102259,53,PlayStation 2,"March 28, 2002",18373,"Place your bait, set your hook and reel in the...",Top Angler,tbd

Com a visualiza√ß√£o geral dos dados podemos nos aprofundar mais em suas caracter√≠sticas:

In [150]:
# Checando dimens√µes dos dados:
data_raw.shape

(20022, 8)

Temos um dataset relativamente grande, contendo <font color='gold'>**_20.022_ registros**</font> em <font color='gold'>**_8 vari√°veis_**</font> diferentes.

Vamos checar informa√ß√µes mais espec√≠ficas acerca dessas vari√°veis:

In [151]:
# Vis√£o mais detalhada das vari√°veis:
data_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20022 entries, 0 to 20021
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20022 non-null  int64
 1   metascore     20022 non-null  int64
 2   platform      20022 non-null  object
 3   release_date  20022 non-null  object
 4   sort_no       20022 non-null  int64
 5   summary       19930 non-null  object
 6   title         20022 non-null  object
 7   user_score    20022 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.2+ MB

Informa√ß√µes relevantes:

- Temos alguns valores faltantes apenas na coluna **`summary`**, o que indica que o Dataset est√° bem completo. Tamb√©m, esse fator n√£o √© um problema por a coluna **`summary`** n√£o ser√° utilizada nas an√°lises.

- Sobre os Data types utilizados: 

    - iremos avaliar mudan√ßas poss√≠veis, como int32 em vez de int64 nas colunas que possuem esse data type. 

    - A coluna **`release_date`** ser√° trasnformada em uma coluna do tipo date em vez de object.

    - A coluna **`user_score`** est√° no formato object quando deveria estar em float, por se tratar da vari√°vel que cont√©m as avalia√ß√µes fornecidas pelos usu√°rios.
    
Com essas mudan√ßas, a mem√≥ria consumida ser√° reduzida. Nesse dataset n√£o far√° uma diferen√ßa not√°vel na performance, por√©m √© uma boa pr√°tica sempre deixar os dados no formato mais eficiente poss√≠vel.

## **An√°lise Estat√≠stica - Descritiva dos Dados**

Conseguimos coletar informa√ß√µes relevantes sobre os dados na etapa anterior, por√©m para podermos ter uma vis√£o realmente aprofundada desses dados, vamos realizar uma an√°lise estat√≠stica para descrever esse conjunto.

- Resumo Estat√≠stico das Vari√°veis Num√©ricas:

In [152]:
# Utilizando m√©todo describe nas colunas num√©ricas:
data_raw.describe()

                  id     metascore       sort_no
count   20022.000000  20022.000000  20022.000000
mean   296058.651084     70.758566  10011.500000
std    190522.456059     12.165042   5779.997881
min    100002.000000     11.000000      1.000000
25%    112180.250000     64.000000   5006.250000
50%    188870.500000     72.000000  10011.500000
75%    510982.250000     80.000000  15016.750000
max    626054.000000     99.000000  20022.000000

Nesse dataset temos tr√™s vari√°veis num√©ricas, por√©m apenas **`metascore`** nos importa para essa an√°lise, pois as outras duas vari√°veis s√£o **`id`** e **`sort_no`** n√£o cont√©m informa√ß√µes relevantes por se tratarem de vari√°veis de organiza√ß√£o dos dados (id, clasifica√ß√£o, etc).

Sobre a coluna **`metascore`**:

- A m√©dia geral da avalia√ß√£o do Metacritic para os jogos (lembrando que essa avalia√ß√£o vai de 0 a 100) √© de <font color='gold'>**70.8**</font>, uma m√©dia bem alta considerando o limite de 100.

- O desvio padr√£o dessas avalia√ß√µes √© de  <font color='gold'>**12.2**</font> pontos acima ou abaixo da m√©dia.

- A avalia√ß√£o mais baixa presente nos dados √© de  <font color='gold'>**11**</font>, realmente um valor bem baixo.

- J√° a avalia√ß√£o mais alta √© de  <font color='gold'>**99**</font>, aparentemente nenhum game recebeu a nota m√°xima de 100.

Sobre os quartis e percentis:

- 25% das avalia√ß√µes do Metacritic est√£o abaixo ou s√£o iguais a  <font color='gold'>**64**</font>;

- 50% das avalia√ß√µes do Metacritic est√£o abaixo ou s√£o iguais a  <font color='gold'>**72**</font>, esse valor representa a mediana das avalia√ß√µes, ou seja, o valor central dos dados ordenados √© 72;

- 75% das avalia√ß√µes do metacritic est√£o abaixo ou s√£o iguais a  <font color='gold'>**80**</font>;

- resumo Estat√≠stico das Vari√°veis Categ√≥ricas:

In [153]:
# Utilizando m√©todo describe nas colunas categ√≥ricas:
data_raw.describe(exclude='number')

,platform,release_date,summary,title,user_score
count,20022,20022,19930,20022,20022
unique,22,4794,15545,12926,94
top,PC,"November 14, 2006","Iron Man, an explosive third-person action sho...",Madden NFL 07,tbd
freq,5276,48,7,9,1382

Das vari√°veis categ√≥ricas, **`release_date`** e **`user_score`** n√£o s√£o apropriadas para essa an√°lise, pois deveriam estar em formato date e float respectivamente. Sendo assim, vamos olhar para as vari√°veis realmente categ√≥ricas nos dados:

**`platform`**

- Temos <font color='gold'>**22 plataformas diferentes**</font> nos dados. Isso indica uma variedade grande nas tecnologias utilziadas para games como consoles ao longo do tempo.

- A plataforma em que mais jogos est√£o presentes √© o  <font color='gold'>**PC**</font>, contando com  <font color='gold'>**5.276 registros**</font> nos dados.

**`title`**

- Temos <font color='gold'>**12.926 t√≠tulos √∫nicos nos dados**</font>. Isso indica que dos 20.022 t√≠tulos totais, 7.096 deles podem ser o mesmo jogo por√©m em um registro diferente para cada plataforma em que esse jogo foi lan√ßado. Isso ser√° explorado mais a frente.

Como dito previamente, a coluna `summary` n√£o ser√° utilizada, ent√£o sua descri√ß√£o estat√≠stica n√£o nos importa.

# <font color='gold'>**_Tratamento e Limpeza dos Dados_**</font>

---

Como analisamos acima com a an√°lise estat√≠stica o Dataset n√£o est√° num formato ideal, tendo data types indevidos para certas vari√°veis. Esse fator deixa a busca por outliers e a visualiza√ß√£o da distribui√ß√£o dos dados prejudicados, assim, iremos tratar os Data types dos dados, inserir colunas adicionais caso necess√°rio para aprofundar a an√°lise, renomear algumas colunas e reorganizar a distribui√ß√£o dessas vari√°veis no Dataset. 

Ap√≥s esses ajustes, poderemos utilziar de Histogramas e Boxplots para a visualiza√ß√£o da distribui√ß√£o dos dados com seus data types corrigidos, possibilitando a identifica√ß√£o e tratamento de outliers e a compreens√£o da distribui√ß√£o desses dados.

Antes de qualquer modifica√ß√£o, se faz necess√°ria a cria√ß√£o de uma c√≥pia dos dados originais, onde ser√° nessa c√≥pia que todas as modifica√ß√µes ser√£o realizadas.

In [154]:
# Criando c√≥pia para modifica√ß√£o dos dados:
data_clean = data_raw.copy()

## **Exlu√≠ndo Vari√°vies Desnecess√°rias para An√°lise**

As vari√°veis **`id`**, **`sort_no`** e **`summary`** ser√£o removidas do dataset por n√£o serem necess√°rias para a composi√ß√£o das an√°lises.

In [155]:
# Exclu√≠ndo vari√°veis:
data_clean = data_clean.drop(['id', 'sort_no', 'summary'], axis=1)

In [156]:
# Verificando dados:
data_clean.head(5)

,metascore,platform,release_date,title,user_score
0,91,PC,"August 18, 2020",Microsoft Flight Simulator,7.1
1,91,PC,"December 8, 2022",Chained Echoes,8.7
2,91,PlayStation 2,"November 7, 2005",Guitar Hero,8.5
3,91,PC,"November 13, 2008",World of Warcraft: Wrath of the Lich King,7.7
4,91,Wii,"October 26, 2010",Rock Band 3,6.8

## **Renomeando Vari√°veis**

Com apenas as colunas que queremos presentes nos dados, vamos renome√°-las para padroniza√ß√£o e visualiza√ß√£o melhores.

In [157]:
# Renomenado vari√°veis:
data_clean = (data_clean
              .rename(columns=
                      {'metascore': 'Metascore',
                       'platform': 'Platform',
                       'release_date': 'Release_date',
                       'title': 'Game_title',
                       'user_score': 'User_score'}
                       ))

In [158]:
# Visualizando dados:
data_clean.head(5)

,Metascore,Platform,Release_date,Game_title,User_score
0,91,PC,"August 18, 2020",Microsoft Flight Simulator,7.1
1,91,PC,"December 8, 2022",Chained Echoes,8.7
2,91,PlayStation 2,"November 7, 2005",Guitar Hero,8.5
3,91,PC,"November 13, 2008",World of Warcraft: Wrath of the Lich King,7.7
4,91,Wii,"October 26, 2010",Rock Band 3,6.8

## **Altera√ß√£o de Data Types**

Agora, vamos alterar os data types necess√°rios. Para isso, vamos checar novamente esses dtypes:

In [159]:
# Checando dtypes:
data_clean.dtypes

Metascore        int64
Platform        object
Release_date    object
Game_title      object
User_score      object
dtype: object

Altera√ß√µes:

- **`Metascore`** - Transformada para int8. Lembrando que int8 aceita valores que est√£o entre -128 e 128, j√° que o Metascore vai de 0 a 100, o formato int8 se torna ideal para essa vari√°vel.

- **`Release_date`** - Ser√° transformada em Datetime.

- **`User_score`** - Transformada para float.

Para termos certeza que nossas altera√ß√µes ser√£o realizadas, vamos checar se a coluna **`Metascore`** e **`User_score`** possuem apenas valores num√©ricos:

In [160]:
# Checando se colunas possuem apenas valores num√©ricos:
print('Vari√°vel         Possu√≠ Apenas Num√©ricos')

data_clean.apply(lambda values: 
                    pd.to_numeric(values, errors='coerce').notnull().all())

Vari√°vel         Possu√≠ Apenas Num√©ricos

Metascore        True
Platform        False
Release_date    False
Game_title      False
User_score      False
dtype: bool

Com isso podemos notar que a vari√°vel **`Metascore`** possui apenas valores num√©ricos, por√©m **`User_score`** n√£o. Sendo assim, para podermos alterar o dtype dessa vari√°vel, precisamos antes remover valores que n√£o s√£o num√©ricos. Vamos checar essa vari√°vel e seus valores:

In [161]:
# Checando valores da coluna user_score:
data_clean['User_score'].unique()

array(['7.1', '8.7', '8.5', '7.7', '6.8', '9', '6.4', '8.2', '7.5', '8.9',
       '9.1', '8.1', '8.6', '8.3', '7.9', '9.6', '8', '8.4', '5.9', '7.4',
       '6.7', '6.6', '8.8', '6', '7.8', '9.2', '4', '9.5', '6.3', '7.6',
       '7.3', '7.2', '6.2', '9.3', '7', '6.5', '5.6', '6.9', '5.7', '5.4',
       '3.3', '5', '5.2', '9.4', '5.8', '5.3', '3.5', '4.8', '6.1', '4.7',
       '4.2', '3.4', '2.1', 'tbd', '4.5', '4.1', '5.5', '3', '2.8', '4.4',
       '3.9', '4.9', '3.6', '4.3', '5.1', '1.8', '4.6', '3.1', '9.7',
       '3.2', '2.2', '2.9', '2.5', '3.7', '3.8', '2', '2.7', '2.3', '1.6',
       '1.3', '2.6', '0.9', '2.4', '1.4', '1.5', '1.7', '1', '1.1', '1.9',
       '0.6', '0.5', '0.3', '1.2', '0.7'], dtype=object)

Com isso, vemos que alguns registros possuem o valor **'tbd'** que √© uma string. Vamos checar quantos registros possuem essa string:

In [162]:
# Contando apari√ß√µes da string 'tbd':
data_clean[data_clean['User_score'] == 'tbd']['User_score'].count()

1382

Temos **1.382** registros que cont√©m a string 'tbd'. Com uma r√°pida pesquisa na p√°gina de fonte desses dados no Metacritic, temos que a string 'tbd' representa jogos que n√£o tiveram nenhuma avalia√ß√£o dos usu√°rios at√© ent√£o. Nesse caso, iremos substituir esses valores por 0 antes de realizar a altera√ß√£o do data type para float.

In [163]:
# Substitu√≠ndo a string por 0:
data_clean['User_score'] = (data_clean['User_score']
              .apply(lambda value: 0 if value == 'tbd' else value))

In [164]:
# Contando apari√ß√µes da string 'tbd':
data_clean[data_clean['User_score'] == 'tbd']['User_score'].count()

0

Com as vari√°veis no formato adequado, podemos alterar os data types:

In [165]:
# Alterando dtypes:
data_clean = (data_clean
              .astype({'Metascore': 'int8',
                       'User_score': 'float'}))

data_clean['Release_date'] = pd.to_datetime(data_clean['Release_date'])

Com as altera√ß√µes feitas nos data types, vamos checar o consumo de mem√≥ria dos dados:

In [166]:
data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20022 entries, 0 to 20021
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Metascore     20022 non-null  int8
 1   Platform      20022 non-null  object
 2   Release_date  20022 non-null  datetime64[ns]
 3   Game_title    20022 non-null  object
 4   User_score    20022 non-null  float64
dtypes: datetime64[ns](1), float64(1), int8(1), object(2)
memory usage: 645.4+ KB

Podemos ver a diferen√ßa expressiva que as altera√ß√µes de data types teve na performance dos nossos dados. Antes da altera√ß√£o dos dados, tinhamos um consumo de mem√≥ria de 1.2+ MB, agora com as altera√ß√µes, temos um uso de mem√≥ria de 528+ KB.

In [167]:
# Checando dados:
data_clean.head(5)

,Metascore,Platform,Release_date,Game_title,User_score
0,91,PC,2020-08-18,Microsoft Flight Simulator,7.1
1,91,PC,2022-12-08,Chained Echoes,8.7
2,91,PlayStation 2,2005-11-07,Guitar Hero,8.5
3,91,PC,2008-11-13,World of Warcraft: Wrath of the Lich King,7.7
4,91,Wii,2010-10-26,Rock Band 3,6.8

## **Criando Nova Vari√°vel: Trimestre de Lan√ßamento**

Como forma de expandir nossas possibilidades de an√°lise, vamos inserir nos dados uma nova vari√°vel que informa qual o trimestre do ano em que o Jogo foi lan√ßado.

In [168]:
def set_year_quarter(data: pd.DataFrame) -> pd.DataFrame:
    '''Retorna uma nova vari√°vel que informa o trimestre do ano em que
    o jogo foi lan√ßado. Essa defini√ß√£o de trimestre se baseia no m√™s de lan√ßamento
    da coluna Release_date.
    
    PAR√ÇMETROS:
    
        data > DataFrame para se aplicar a altera√ß√£o.
    '''
    data['Release_quarter'] = data['Release_date'].apply(
        lambda value:
            'Q1' if value.month in [1, 2, 3] else
            'Q2' if value.month in [4, 5, 6] else
            'Q3' if value.month in [7, 8, 9] else
            'Q4' if value.month in [10, 11, 12] else
            value
            )
    
    return data

In [169]:
# Aplicando fun√ß√£o:
data_clean = set_year_quarter(data_clean)

# Checando resultado:
data_clean.sample(10)

,Metascore,Platform,Release_date,Game_title,User_score,Release_quarter
8613,74,PC,2019-01-15,The Walking Dead: The Telltale Series - The Fi...,7.7,Q1
6470,77,PlayStation 3,2010-10-19,EA Sports MMA,6.7,Q4
15369,63,Switch,2018-04-20,The Way Remastered,6.9,Q2
6070,78,PC,2021-07-28,Unbound: Worlds Apart,7.6,Q3
16051,61,PC,2011-05-30,Hunted: The Demon's Forge,6.6,Q2
11307,71,Switch,2018-04-26,A Robot Named Fight!,7.5,Q2
14733,65,PC,2017-11-17,Star Wars Battlefront II,1.9,Q4
3516,82,PC,2009-04-13,DCS: Black Shark,8.5,Q2
9136,74,Switch,2019-10-08,The Alliance Alive HD Remastered,7.3,Q4
4294,80,PC,2022-11-16,Call of Duty: Warzone 2.0,2.3,Q4

## **Criando Nova Vari√°vel: Subdivis√µes da Vari√°vel Release_date**

Com a nova vari√°vel de trimestre de lan√ßamento criada, vamos retornar a vari√°vel **`Release_date`** e utiliz√°-la para criar tr√™s vari√°veis distintas que informam apenas o dia, m√™s e ano do lan√ßamento.

Essa divis√£o da vari√°vel **`Release_date`** ser√° feita para facilitar a cria√ß√£o de plots na etapa de an√°lises.

- Criando vari√°vel **`Release_day`**:

In [170]:
# Criando nova vari√°vel:
data_clean['Release_day'] = data_clean['Release_date'].dt.day

- Criando vari√°vel **`Release_month`**:

In [171]:
# Criando nova vari√°vel:
data_clean['Release_month'] = data_clean['Release_date'].dt.month

- Criando vari√°vel **`Release_year`**:

In [172]:
# Criando nova vari√°vel:
data_clean['Release_year'] = data_clean['Release_date'].dt.year

In [173]:
# Checando dados:
data_clean.head(5)

,Metascore,Platform,Release_date,Game_title,User_score,Release_quarter,Release_day,Release_month,Release_year
0,91,PC,2020-08-18,Microsoft Flight Simulator,7.1,Q3,18,8,2020
1,91,PC,2022-12-08,Chained Echoes,8.7,Q4,8,12,2022
2,91,PlayStation 2,2005-11-07,Guitar Hero,8.5,Q4,7,11,2005
3,91,PC,2008-11-13,World of Warcraft: Wrath of the Lich King,7.7,Q4,13,11,2008
4,91,Wii,2010-10-26,Rock Band 3,6.8,Q4,26,10,2010

## **Criando Nova Vari√°vel: Metascore_class**

Essa vari√°vel tem como objetivo abrigar a classifica√ß√£o dos valores do Metascore. De acordo com um [FAQ do pr√≥prio site](https://www.metacritic.com/about-metascores), para cada range de notas temos uma classifica√ß√£o geral atribu√≠da a ele como ilustrado na imagem abaixo retirada diretamente do FAQ:

<img src="https://raw.githubusercontent.com/JoSEPHDev2022/Metacritc_Scores_Video_Games/main/images/metascore_classification.png" width=700 height=350>

Com essa nova vari√°vel, teremos mais possibilidades de an√°lise posteriores.

In [174]:
def set_metascore_class(data: pd.DataFrame) -> pd.DataFrame:
    '''Retorna uma nova vari√°vel que consta a classifica√ß√£o do Jogo
    com base em sua nota. Essas classifica√ß√µes s√£o:
    
        - "Universal Acclaim" para games com notas entre 90 e 100;
        - "Generally Favorable Reviews" para games com notas entre 75 e 89;
        - "Mixed or Average Reviews" para games com notas entre 50 e 74;
        - "Generally Unfavorable Reviews" para games com notas entre 20 e 49;
        - "Overwhelming Dislike" para games com notas entre 0 e 19.

        PAR√ÇMETROS:
        
        data > DataFrame para se aplicar a altera√ß√£o. 
    '''
    data['Classification'] = data['Metascore'].apply(
        lambda value:
            'Universal Acclaim' if 90 <= value <= 100 else
            'Generally Favorable Reviews' if 75 <= value <= 89 else
            'Mixed or Average Reviews' if 50 <= value <= 74 else
            'Generally Unfavorable Reviews' if 20 <= value <= 49 else
            'Overwhelming Dislike'   
            )
    
    return data

In [175]:
# Aplicando fun√ß√£o:
data_clean = set_metascore_class(data_clean)

In [176]:
# Visualizando resultados:
data_clean.sample(10)

,Metascore,Platform,Release_date,Game_title,User_score,Release_quarter,Release_day,Release_month,Release_year,Classification
2956,83,Xbox 360,2008-07-15,NCAA Football 09,7.7,Q3,15,7,2008,Generally Favorable Reviews
6382,78,PC,2016-04-28,Offworld Trading Company,7.6,Q2,28,4,2016,Generally Favorable Reviews
2723,83,PlayStation Vita,2016-06-28,Zero Escape: Zero Time Dilemma,8.3,Q2,28,6,2016,Generally Favorable Reviews
6693,77,PC,2013-12-13,Teslagrad,7.8,Q4,13,12,2013,Generally Favorable Reviews
12643,69,Xbox,2004-06-16,Powerdrome,7.0,Q2,16,6,2004,Mixed or Average Reviews
17682,56,PlayStation 4,2020-09-22,Tennis World Tour 2,6.3,Q3,22,9,2020,Mixed or Average Reviews
2554,83,PlayStation 4,2019-08-20,The Yakuza Remastered Collection,7.8,Q3,20,8,2019,Generally Favorable Reviews
11369,71,PlayStation 4,2016-10-25,Sherlock Holmes: The Devil's Daughter,6.8,Q4,25,10,2016,Mixed or Average Reviews
4846,80,PlayStation 4,2014-03-21,inFamous: Second Son,8.0,Q1,21,3,2014,Generally Favorable Reviews
1026,87,PlayStation 4,2019-10-11,Frostpunk: Console Edition,8.0,Q4,11,10,2019,Generally Favorable Reviews

## **Reorganizando Sequ√™ncia de Vari√°veis**

Com todas as vari√°veis com data types apropriados e com a inser√ß√£o das novas vari√°veis, basta organizar os dados para uma visualiza√ß√£o melhor da tabela:

In [177]:
# Reorganizando apari√ß√£o das colunas no DataFrame:
data_clean = data_clean.loc[:, 
                            ['Game_title', 'Platform', 'Release_date', 'Release_year', 
                             'Release_month', 'Release_day', 'Release_quarter', 'User_score', 
                             'Metascore', 'Classification']]

In [179]:
# Verificando forma final dos dados:
data_clean.head(10)

,Game_title,Platform,Release_date,Release_year,Release_month,Release_day,Release_quarter,User_score,Metascore,Classification
0,Microsoft Flight Simulator,PC,2020-08-18,2020,8,18,Q3,7.1,91,Universal Acclaim
1,Chained Echoes,PC,2022-12-08,2022,12,8,Q4,8.7,91,Universal Acclaim
2,Guitar Hero,PlayStation 2,2005-11-07,2005,11,7,Q4,8.5,91,Universal Acclaim
3,World of Warcraft: Wrath of the Lich King,PC,2008-11-13,2008,11,13,Q4,7.7,91,Universal Acclaim
4,Rock Band 3,Wii,2010-10-26,2010,10,26,Q4,6.8,91,Universal Acclaim
5,Metroid Prime Trilogy,Wii,2009-08-24,2009,8,24,Q3,9.0,91,Universal Acclaim
6,Overwatch,PC,2016-05-23,2016,5,23,Q2,6.4,91,Universal Acclaim
7,F1 Challenge '99-'02,PC,2003-06-24,2003,6,24,Q2,7.7,91,Universal Acclaim
8,Tony Hawk's Pro Skater 4,GameCube,2002-10-23,2002,10,23,Q4,8.2,91,Universal Acclaim
9,Madden NFL 2001,PlayStation 2,2000-10-23,2000,10,23,Q4,7.5,91,Universal Acclaim